@import "base/reset";
@import "base/colors";
@import "base/fonts";
@import "abstract/layout";

body {
  @include flexy;
  header {
    flex: 0 1 25vh;
    @include flexy;
    background-color: $primary-color;
    padding: 3vh;
    nav ul {
      @include flexy;
      flex-direction: row;
      list-style-type: none;
      li {
        padding: 5px;
      }
      a {
        @include link-button;
      }
    }
    div {
      @include flexy;
      align-items: center;
      h1,
      p {
        color: $secondary-color;
        font-family: $basic-font;
        padding: 20px;
      }
    }
    a {
      @include link-button;
    }
  }

  main {
    flex: 0 1 50vh;
    color: $primary-color;
    font-family: $basic-font;
    @include flexy;
    flex-direction: row;
    padding: 5vh;
    h1 {
      flex: 0 1 100vw;
      padding: 20px;
    }
    section {
      flex: 0 1 20vw;
      padding: 15px;
      margin: 5px;
      border: 1px solid $primary-color;
      h2 {
        padding: 5px;
      }
      p {
        text-align: left;
      }
      @include responsive;
    }
  }

  footer {
    @extend main;
    flex: 0 1 25vh;
    background-color: $primary-color;
    color: $secondary-color;
    section {
      flex: 0 1 42vw;
      @include responsive;
    }
  }
}
